

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

:root {
    --body-text-font-family: "Inter", Helvetica;
    --body-text-font-size: 20px;
    --body-text-font-style: normal;
    --body-text-font-weight: 500;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: 150%;
    --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --inter-bold-font-family: "Inter", Helvetica;
    --inter-bold-font-size: 16px;
    --inter-bold-font-style: normal;
    --inter-bold-font-weight: 700;
    --inter-bold-letter-spacing: 0px;
    --inter-bold-line-height: normal;
    --inter-regular-font-family: "Inter", Helvetica;
    --inter-regular-font-size: 14px;
    --inter-regular-font-style: normal;
    --inter-regular-font-weight: 400;
    --inter-regular-letter-spacing: 0px;
    --inter-regular-line-height: normal;
    --semantic-input-font-family: "Inter", Helvetica;
    --semantic-input-font-size: 16px;
    --semantic-input-font-style: normal;
    --semantic-input-font-weight: 400;
    --semantic-input-letter-spacing: 0px;
    --semantic-input-line-height: normal;
    --semantic-label-font-family: "Inter", Helvetica;
    --semantic-label-font-size: 14px;
    --semantic-label-font-style: normal;
    --semantic-label-font-weight: 500;
    --semantic-label-letter-spacing: 0px;
    --semantic-label-line-height: 20px;
    --small-text-font-family: "Inter", Helvetica;
    --small-text-font-size: 16px;
    --small-text-font-style: normal;
    --small-text-font-weight: 500;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: 150%;
    --subheading-font-family: "Inter", Helvetica;
    --subheading-font-size: 24px;
    --subheading-font-style: normal;
    --subheading-font-weight: 400;
    --subheading-letter-spacing: 0px;
    --subheading-line-height: 150%;
}

:root {
    --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
    animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
    animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
    animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
    animation: shimmer 8s infinite;
}

.animate-spin {
    animation: var(--animate-spin);
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes image-glow {
    0% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
    }

    10% {
        opacity: 0.7;
        animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
    }

    to {
        opacity: 0.4;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes shimmer {
    0%,
    90%,
    to {
        background-position: calc(-100% - var(--shimmer-width)) 0;
    }

    30%,
    60% {
        background-position: calc(100% + var(--shimmer-width)) 0;
    }
}

@keyframes marquee {
    0% {
        transform: translate(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-vertical {
    0% {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - var(--gap)));
    }
}
